@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer base {
  body {
    @apply bg-white dark:bg-black;
  }
}

a {
  @apply text-black;
}

* {
  box-sizing: border-box;
}

/* card start */
.card {
  @apply block mb-5 border border-gray-200 rounded-lg shadow-md;
  border: 1px solid #eaeaea;
  /* Add your desired border styles */
  border-radius: 8px;
  /* Add your desired border-radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Add the box-shadow for the glow effect */
}

.glow-effect:hover {
  box-shadow: 0 0 20px rgba(78, 85, 83, 0.575);
  /* Add a stronger box-shadow on hover for a more pronounced glow effect */
  transition: box-shadow 0.3s ease;
  /* Add a smooth transition for the hover effect */
}

/* card end  */

.primary-button {
  @apply px-4 py-2 bg-emerald-400 rounded shadow outline-none hover:bg-emerald-500 active:bg-emerald-600;
}

.default-button {
  @apply px-4 py-2 text-black bg-gray-100 rounded shadow outline-none hover:bg-gray-200 active:bg-gray-300;
}

input,
select,
textarea {
  @apply p-2 border rounded outline-none ring-indigo-300 focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply p-3 my-3 text-red-700 bg-red-100 rounded-lg;
}

.alert-success {
  @apply p-3 my-3 text-green-700 bg-green-100 rounded-lg;
}

/*button loading spinner */
.spinner-border {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: text-bottom;
  border: .20em solid currentColor;
  border-right: .20em solid transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

/*button loading spinner end */
/* preloader start */
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

/* preloader end */