@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  @apply text-black;
}

* {
  box-sizing: border-box;
}

/* card start */
.card {
  @apply block mb-5 border border-gray-200 rounded-lg shadow-md;
  border: 1px solid #eaeaea;
  /* Add your desired border styles */
  border-radius: 8px;
  /* Add your desired border-radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Add the box-shadow for the glow effect */
}

.glow-effect:hover {
  box-shadow: 0 0 20px rgba(78, 85, 83, 0.575);
  /* Add a stronger box-shadow on hover for a more pronounced glow effect */
  transition: box-shadow 0.3s ease;
  /* Add a smooth transition for the hover effect */
}

/* card end  */

.primary-button {
  @apply px-4 py-2 bg-emerald-400 rounded shadow outline-none hover:bg-emerald-500 active:bg-emerald-600;
}

.default-button {
  @apply px-4 py-2 text-black bg-gray-100 rounded shadow outline-none hover:bg-gray-200 active:bg-gray-300;
}

input,
select,
textarea {
  @apply p-2 border rounded outline-none ring-indigo-300 focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply p-3 my-3 text-red-700 bg-red-100 rounded-lg;
}

.alert-success {
  @apply p-3 my-3 text-green-700 bg-green-100 rounded-lg;
}

.custom-gradient {
  background: linear-gradient(to right, #0b8647, #3c60ac, #d72e27, #faa419);
}

.custom-gradient:hover {
  background: linear-gradient(to right, #038341, #2750a7, #d61f19, #fa9d07);
}

@layer base {
  body {
    @apply bg-white dark:bg-black;
  }
}

/* spinner */
.spinner-border {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-bottom;
  border: .20em solid currentColor;
  border-right: .20em solid transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

/* spinner end */